.container {
    max-width: 700px;
    box-shadow: 2px 2px 10px 5px #37474F;
  }

.btn:hover
{
 background-color:#0069d9;
}
.cell {
  background-color: #b8f3f2;
}

body{        
  height:100vh;
  background-image:linear-gradient(to left,#007bff,#68e8d1);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.error{
  color: rgb(255, 37, 37);
}



/* Modal Header */
.modal-header {
  
  text-align: center;
  color: rgb(18, 212, 79);
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  align-items: center;
  color: rgb(0, 0, 0);
}

/* Modal Content */
.modal-content {
  margin-top: 5%;
  margin: auto;
  width: 28rem;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}